# Chunking
langchain_openai
langchain_community
langchain
tqdm
openai
unstructured
pandas 
argparse
nltk
numpy
pdfminer

# AI21SemanticTextSplitter
# langchain_ai21

#llama
llama_index
pathlib

certifi==2024.2.2
charset-normalizer==3.3.2
elastic-transport==8.13.1
elasticsearch==8.13.2
filelock==3.14.0
fsspec==2024.5.0
huggingface-hub==0.23.2
idna==3.7
jinja2==3.1.4
joblib==1.4.2
markupsafe==2.1.5
mpmath==1.3.0
networkx==3.3
packaging==24.0
pillow==10.3.0
python-dateutil==2.9.0.post0
pytz==2024.1
pyyaml==6.0.1
regex==2024.5.15
requests==2.32.3
safetensors==0.4.3
scikit-learn==1.5.0
scipy==1.13.1
sentence-transformers
six==1.16.0
sympy==1.12.1
threadpoolctl==3.5.0
tokenizers<0.14.1
torch==2.1.0
transformers==4.33.3
typing-extensions==4.8.0
urllib3==1.26.15
